.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 5px;
}

.left-nav > ul,
.right-nav > ul {

}

.left-nav {

  > ul { display: flex;
        width: 300px;
        justify-content: space-evenly;
    > li {
      width: 100px;
      display: flex;
      justify-content: space-evenly;
    }
  }

  span {
  }
}

.right-nav  {

  > ul {
    display: flex;
        width: 200px;
        justify-content: space-evenly;
    > li {
    }

    > li:last-of-type {
  
    }
  }
  
  i {

  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
    background: lightgray;
}
