<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<i class="fa fa-bars"></i>
				<span>sections</span>
			</li>
			<li id="search-modal-btn">
				<i class="fa fa-search"></i>
				<span>search</span>
			</li>
		</ul>
	</nav>
	<nav class="right-nav">
		<ul>
			<li id="subscribe_now-sidebar-btn">
				<button type = "button">subscribe now</button>
			</li>
			<li id="log_in-sidebar-btn">
				<button type = "button">log in</button>
			</li>
			<li id="gear-sidebar-btn">
			<button type="button">&#9881</button>
			</li>
		</ul>
		
	</nav>
</header>