<nav class= "masthead">
    <ul class= "language-nav">
        <a href= "" >CSS</a> 
        <a href= "" >HTML</a> 
        <a href= "" >Javascript</a> 
        <a href= "" >Ruby</a>
    </ul>
    <div class= "logo">
    <img src="assets\AA_Times_Logo.png" alt="">
    </div>
    <ul class= "masthead-links">
     <li>Tuesday, October 18, 2016</li>
     <li href= "">
        <i class = "fa fa-newspaper"></i>
       <button>Today's Paper</button>
     </li>
     <li >
      <i class = "fa fa-video"></i>
        <button>Video</button>
     </li>
     <li>77°F</li>
     <li>AAO 
     <strong>+100%</strong></li>

    </ul>    
</nav>